{% macro head( title, css="css/index.css" ) %}
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="{{css}}" rel="stylesheet">
  {{ caller() }}
</head>
{% endmacro %}

{% macro headF( title, css="../css/index.filtered.css" ) %}
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="{{css}}" rel="stylesheet">
  {{ caller() }}
</head>
{% endmacro %}

{% macro headM( title, css="../css/index.minimized.css" ) %}
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="{{css}}" rel="stylesheet">
  {{ caller() }}
</head>
{% endmacro %}
